/* Tip, copy paste from 13c.01.01 & 13c.01.02 to get fonts and colors up and running ... */

section {
  margin: 0 5vw;
}

h1,
h2,
h3 {
  font-family: var(--primary-font);
  color: var(--font-colour-1);
}

h1 {
  line-height: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

h2 {
  line-height: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

h3 {
  line-height: 2rem;
  font-weight: 600;
}

p {
  line-height: 1.5rem;
  margin: 5px 0 10px 0;
}

/* Sectioned styling */

header {
  height: 15vw;
}
header h1 {
  margin: 0;
}

img {
  max-width: 100%;
  object-fit: cover;
  object-position: 0 -3vw;
}

#mockups {
  padding: 4vw 5vw;
  margin: 0;
  background-color: var(--secondary-colour-2);
}

.mockups_graphics {
  display: flex;
  flex-direction: column;
  column-gap: 2vw;
}
.mockups_graphics div {
  border-radius: 0.5vw;
}
.mockups_graphics img {
  max-width: 100%;
  max-height: 100vw;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5vw;
  box-shadow: 0px 0px 10px 5px var(--accent-colour-1);
}

#visual_details {
  padding: 4vw 0;
}
.details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 2vw;
  row-gap: 2vw;
}
.details div {
  max-width: 100%;
  overflow: hidden;
  height: 15vw;
  border-radius: 0.5vw;
}

.details img {
  max-width: 100%;
  overflow: hidden;
  object-position: center;
}

#solution {
  padding: 4vw 5vw;
  margin: 0;
  background-color: var(--primary-colour-1);
  color: var(--font-colour-2);
}
#solution div {
  margin: auto;
  display: flex;
  justify-content: space-between;
}
#solution h2 {
  color: var(--font-colour-2);
}

#solution a {
  background-color: var(--accent-colour-2);
  color: var(--font-colour-1);
  border: none;
  padding: 1vw 1.5vw;
  border-radius: 0.2vw;
  font-size: 1rem;
  font-family: var(--primary-font);
}
#solution a:hover {
  background-color: var(--font-colour-1);
  color: var(--accent-colour-2);
  border: 2px solid var(--accent-colour-2);
  border-radius: 0.3vw;
  padding: 0.89vw 1.4vw;
}

#motivation {
  padding: 4vw 0;
}

@media screen and (min-width: 768px) {
  .mockups_graphics {
    flex-direction: row;
  }
  .mockups_graphics img {
    max-height: 40vw;
  }
  .details {
    justify-content: center;
  }
}
@media screen and (min-width: 1101px) {
  #solution div {
    flex-direction: column;
    margin: 0;
  }
  #solution a {
    max-width: 20%;
  }
  .details {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .details div {
    max-width: 100%;
    overflow: hidden;
    height: 8vw;
  }
}
