/* Tip, copy paste from 13c.01.01 & 13c.01.02 to get fonts and colors up and running ... */
/* Root */
:root {
  --primary-font: "Exo 2", sans-serif;
  --secondary-font: "Assistant", sans-serif;
  --primary-colour-1: #c3c3c3;
  --primary-colour-2: #aaaaaa;
  --secondary-colour-1: #10222e;
  --secondary-colour-2: #06141c;
  --tertiare-colour: #222628;
  --accent-colour-1: #300a8a;
  --accent-colour-2: #830606;
  --accent-colour-3: rgb(217, 217, 217);
  --font-colour-1: rgb(241, 241, 241);
  --font-colour-2: rgb(41, 41, 41);
}

/* Reset styling */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  margin: 0 3vw;
}

/* Fonts */
html {
  font-size: 112.5%;
  font-family: var(--secondary-font);
  background-color: var(--tertiare-colour);
  color: var(--font-colour-1);
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: var(--primary-font);
  color: var(--secondary-colour-2);
}

h1 {
  line-height: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

h2 {
  line-height: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

h3 {
  line-height: 2rem;
  font-weight: 600;
}

p {
  line-height: 1.5rem;
  margin: 5px 0 10px 0;
}
button {
  cursor: pointer;
}

/* Sectioned styling */
nav {
  background-color: var(--secondary-colour-2);
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  height: 30vw;
  padding: 3vw 5vw;
  font-size: 1rem;
}
.logo {
  font-family: var(--primary-font);
  text-decoration: none;
  font-weight: 700;
  font-size: 2rem;
  color: var(--font-colour-1);
}
nav button {
  background-color: var(--accent-colour-2);
  color: var(--font-colour-1);
  border: none;
  padding: 1vw 1.5vw;
  border-radius: 0.2vw;
  font-size: 1rem;
  font-family: var(--primary-font);
}

nav button:hover {
  background-color: var(--font-colour-1);
  color: var(--accent-colour-2);
  border: 2px solid var(--accent-colour-2);
  border-radius: 0.3vw;
  box-shadow: 1px 1px 10px 2px var(--accent-colour-1);
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  width: 100%;
}
nav a {
  color: var(--primary-colour-1);
  font-size: 1.2rem;
}
.fixed {
  /* position: absolute; */
  order: -1;
  top: 0;
  left: 0;
  width: 100%;
  background: none;
}

header {
  background-image: url(assets/pexels-karol-d-841228.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vw 5vw;
  box-shadow: inset 0px 10px 10px -5px var(--accent-colour-1), inset 0px -10px 10px -5px var(--accent-colour-1);
}
.header_text {
  width: 90%;
  margin: 2vw 0;
  font-weight: 600;
  color: var(--font-colour-1);
  display: flex;
  flex-direction: column;
}
/* header button {
  background-color: var(--accent-colour-2);
  color: var(--font-colour-1);
  border: none;
  padding: 2.5vw;
  border-radius: 0.2vw;
  font-family: var(--primary-font);
  font-size: 1rem;
  margin-top: 3vw;
} */
.header_text h1 {
  color: var(--font-colour-1);
}
header h1 {
  color: var(--font-colour-1);
}

.header_graphics {
  background-image: url(assets/pexels-lil-artsy-1111597.jpg);
  background-size: cover;
  box-shadow: 1px 1px 10px 2px var(--accent-colour-1);
  border-radius: 100%;
  width: 50vw;
  aspect-ratio: 1/1;
  order: -1;
}

#projects {
  padding: 2vw 0;
  opacity: 0;
}

#projects h2 {
  color: var(--font-colour-1);
}

.projects_cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3vw;
}
.projects_card {
  display: flex;
  max-width: 80%;
  flex-direction: column;
  border-radius: 0.5vw;
  background-color: var(--accent-colour-3);
  box-shadow: 3px 3px 10px 4px var(--accent-colour-1);
}
.projects_card:hover {
  scale: 1.02;
  box-shadow: 3px 3px 10px 4px var(--accent-colour-2);
}
.projects_card_graphics {
  width: 100%;
  height: 30vw;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  border-radius: 0.4vw 0.4vw 0 0;
}
.projects_card_text {
  padding: 3vw;
  color: var(--font-colour-2);
}
.projects_card_text h3 {
  overflow: hidden;
  height: 7vw;
  color: var(--font-colour-2);
}
.link_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  padding: 0 2vw;
}

.learnMore {
  background-color: var(--accent-colour-2);
  color: var(--font-colour-1);
  border: none;
  padding: 1vw 1.5vw;
  border-radius: 0.2vw;
  font-size: 1rem;
  font-family: var(--primary-font);
}

.visitSite {
  background-color: var(--font-colour-1);
  color: var(--accent-colour-2);
  border: 2px solid var(--accent-colour-2);
  padding: 1vw 1vw;
  border-radius: 0.2vw;
  font-size: 1rem;
  font-family: var(--primary-font);
}

#about {
  background-color: var(--secondary-colour-2);
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 3vw;
}
#about h2 {
  color: var(--font-colour-1);
  padding: 0 6vw;
  padding-bottom: 1vw;
}
.about_graphics {
  box-shadow: 0px 0px 15px 5px var(--accent-colour-1), inset 0px 0px 20px 2px rgba(0, 0, 0, 1);
  width: 50vw;
  height: 50vw;
  object-fit: cover;
  object-position: center;
  align-self: center;
  border-radius: 100%;
  background-image: url("assets/20220509_140237\ -\ Copy.jpg");
  background-position: center;
  background-size: cover;
}

.about_text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 3vw;
  align-items: center;
}

.about_text article {
  max-width: 90%;
  padding: 1vw 1vw;
  background-color: var(--primary-colour-2);
  border-radius: 0.5vw;
  color: var(--font-colour-2);
}

#skills {
  display: flex;
  flex-direction: column;
  padding: 3vw 4vw;
}
#skills h2 {
  color: var(--font-colour-1);
}
.skill_small_cards {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  margin: auto;
  align-items: center;
}

.skill_small_cards div {
  background-color: var(--accent-colour-3);
  border-radius: 0.5vw;
  padding: 4vw 3vw;
  margin: 5vw 0;
  width: 60%;
  color: var(--font-colour-2);
  box-shadow: 3px 3px 15px var(--accent-colour-1);
}

.skill_small_cards ul {
  padding-left: 3vw;
}

#skills button {
  background-color: var(--accent-colour-2);
  color: var(--font-colour-1);
  border: none;
  padding: 1.5vw 2vw;
  border-radius: 0.2vw;
  max-width: 35vw;
  font-size: 1rem;
  font-family: var(--primary-font);
  align-self: flex-end;
}

#skills button:hover {
  background-color: var(--font-colour-1);
  color: var(--accent-colour-2);
  border: 2px solid var(--accent-colour-2);
  border-radius: 0.3vw;
  padding: 1.39vw 1.9vw;
}

img {
  max-width: 100%;
  object-fit: cover;
  object-position: 0 -3vw;
}

#conclusion {
  background-color: var(--accent-colour-1);
  color: var(--font-colour-1);
  margin: 0;
  padding: 3vw;
}
#conclusion h2 {
  color: var(--font-colour-1);
}
footer {
  background-color: var(--secondary-colour-2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3vw 5vw;
  color: var(--font-colour-1);
  align-items: center;
}
footer h2,
footer h3 {
  color: var(--font-colour-1);
}
footer a {
  color: var(--font-colour-1);
}

footer ul {
  list-style: none;
}

@media screen and (min-width: 768px) {
  footer {
    flex-direction: row;
  }
  .skill_small_cards {
    flex-direction: row;
    width: 60vw;
  }
  .skill_small_cards div {
    padding: 2vw;
    width: 20vw;
  }
  #about {
    padding: 4% 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  }
  #about h2 {
    grid-column: 1 / span 2;
  }
  .about_graphics {
    width: 37vw;
    height: 37vw;
    justify-self: center;
  }
  .projects_cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    row-gap: 3vw;
  }
  .projects_card {
    display: flex;
    max-width: 80%;
    flex-direction: column;
    border-radius: 0.5vw;
  }
  .projects_card_text h3 {
    overflow: hidden;
    height: 5vw;
  }
  .projects_card_graphics {
    width: 100%;
    height: 13vw;
  }
  header {
    height: 80vh;
    flex-direction: row;
  }
  .header_text {
    width: 70%;
  }
  header button {
    max-width: 25vw;
  }
  .header_graphics {
    width: 20vw;
    order: 0;
  }
  nav {
    flex-direction: row;
    height: 7vw;
  }
  nav button {
    padding: 0.5vw 1vw;
  }

  nav ul {
    width: 40%;
  }
  .fixed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: none;
  }
}
@media screen and (min-width: 1101px) {
  .about_graphics {
    width: 35vw;
    height: 35vw;
  }
  .projects_cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
  .projects_card {
    margin: auto;
  }
  .projects_card_text {
    padding: 1.2vw;
    height: 12vw;
    overflow: hidden;
  }
  .projects_card_text h3 {
    overflow: hidden;
    height: 2vw;
  }
  header button {
    max-width: 13vw;
    padding: 1vw;
  }
  .header_text {
    width: 40%;
  }
  nav {
    height: 4vw;
  }
}

/* Keyframes */
.fadeInAnimation {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.moveInFromRightAnimation {
  animation-name: inFromRight;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes inFromRight {
  from {
    transform: translateX(20vw);
    scale: 0;
  }
  to {
    transform: translateX(0);
    scale: 1;
  }
}
